<footer id="foot">
    <i class="footicon fab fa-facebook-square"></i>
    <i class="footicon fab fa-twitter"></i>
    <i class="footicon fab fa-instagram"></i>
    <i class="footicon fas fa-envelope"></i>
  <p style="color:black;"> Copyright 2020 kumoora.com</p>
</footer>
