<footer style="padding : 7% 15%;
background-color: #888888;
color: black;
text-align: center;">
  <a href="https://www.facebook.com/profile.php?id=100003113108829"><i class="footicon fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/kuMoora"><i class="footicon fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/_kumar._/"><i class="footicon fab fa-instagram"></i></a>
    <a href="https://github.com/kumarwayne"><i class="fab fa-github-square"></i></a>
  <p style="color:black;"> Copyright 2020 kumoora.com</p>
</footer>
